/*
--------------------------------------------------------
------------ styles for Main Content ---------
--------------------------------------------------------
*/
#post-wrapper {
  display: flex;
  justify-content: space-between;
}
#post-wrapper .sidebar-content {
  width: 85%;
  overflow: hidden;
}
#post-wrapper .post-content {
  width: 80%;
  padding: 2rem 0;
  margin: 0 auto;
}
